*,
html,
body {
  margin: 0;
  padding: 0;
  margin-top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

.main_header {
  background: linear-gradient(rgba(90, 35, 3, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://retireenews.files.wordpress.com/2016/09/coffee-heart.jpg"); 
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo{
  position: absolute;
  width: 100px;
  height: 90px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
  background-color: rgb(107, 45, 9);
}

nav ul {
  float: right;
  margin: 0;
  padding-right: 200px;
}

nav .title {
  float: left;
  color: white;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.dropDown {
  float: right;
  position: relative;
  display: inline-block;
  padding-top: 20px;
}

.dropDownMenu {
  color: white;
  padding: 33px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropDownContent a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}

.dropDownContent a:hover {
  color: #f1f1f1;
}

.dropDown:hover .dropDownContent {
 display: block;
}


.subHeading {
  font-weight: 100;
}

.slogan {
  color: white;
  text-align: left;
  padding-left: 200px;
  padding-top: 350px;
}

.slogan .title1 {
  font-size: 80px;
  font-weight: bold;
}

.slogan .subtitle {
  margin-top: 20px;
  font-size: 30px;
  font-weight: lighter;
}

.main_promo {
  height: 130vh;
  background-color: black;
  padding-right: 200px;
  padding-left: 200px;
}

.main_about {
  height: 130vh;
  background-color: black;
  padding-right: 200px;
  padding-left: 200px;
}

.main_gallery {
  height: 150vh;
  background-color: black;
  padding-right: 200px;
  padding-left: 200px;
}

.main_member {
  height: 170vh;
  background-color: black;
  padding-right: 200px;
  padding-left: 200px;
}

.flex-container {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container .flexitem {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  width: 100%;
  font-size: 30px;
}

.card {
  background-color: rgb(107, 45, 9);
  border-radius: 10px;
  transition: 0.3s;
}
.card_content {
  padding: 20px;
}

.cardOne {
  background-color: rgba(100, 42, 177, 0.178);
  border-radius: 10px;
  transition: 0.3s;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.par1 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.432);
}

.par2 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.959);
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ffffff;
}

.svg-icon circle {
  stroke: #ffffff;
  stroke-width: 1;
}

.address {
  display: inline-block;
}
.footer.content {
  margin-top: 20px;
  align-items: center;
}
.footer.content > p {
  display: inline-block;
  align-items: center;
  font-size: 20px;
  color: #ffffff9a;
}

.par2 {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.747);
}

.flex-container-new {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-new .card_parent {
  padding-top: 30px;
  width: 100%;
}

.mt20 {
  padding-top: 320px;
}
/* 
.slider{
  overflow: hidden;
}

.slider figure img{
  float: left;
}

.slider figure{
  position: relative;
  left: 0px;
  animation: 20s slider infinite;
} 

@keyframes slider{
  0%{left: 0%;}
  20%{left: 0%;}
  25%{left: -100%;}
  45%{left: -100%;}
  50%{left: -200%;}
  75%{left: -200%;}
  95%{left: -300%;}
  100%{left: -400%;}
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.gallery_item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item-3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery_item-4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery_item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery_item-6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.heading {
  color: white;
  font-size: 50px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.form_group {
  flex: 1 0 auto;
}

p {
  color: white;
  text-align: justify;
}

.input{
  width: 90%;
  padding:15px;
  margin:5px;
  border-radius:5px;
  font-size: 20px;
  background-color: rgba(239, 227, 255, 0.26);
  border:1px solid rgba(204, 204, 204, 0);
  font-family:sans-serif;
  color: white;
}

.flex-container-member {
  padding-top: 20vh;
  display: flex;
}

.item_member {
  flex-grow: 1;
  width: 100%;
  font-size: 30px;
}

.item_about {
  flex-grow: 1;
  width: 100%;
  font-size: 30px;
  margin: 20px;
}

.cimg {
  border-radius: 10px;
  background: linear-gradient(rgba(99, 53, 10, 0.329), rgba(0, 0, 0, 0.5)),
    url("https://i.pinimg.com/originals/09/52/e9/0952e9d8c44d9e1fcc1e9b6da06ca49c.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}

.form_member {
  padding-left: 50px;
}

.h_member {
  font-size: 85px;
  color: white;
  padding-top: 150px;
  padding-left: 30px;
}

.h_label {
  color: white;
  margin-bottom: 10px;
  font-size: 35px;
}

.label_type {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  padding-left: 55px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.checkbox label::before{
  height: 16px;
  width: 16px;
  border: 5px solid #AAAAAA;
  left: 0px;
  top: 3px;
}

.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 4px solid rgb(11, 189, 115);
  border-bottom: 4px solid rgb(11, 189, 115);
  transform: rotate(-45deg);
  left: 6px;
  top: 10px;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(11, 189, 115) auto 5px;
  border: 5px solid rgb(11, 189, 115);
}

.inline {
  display: inline-block;
}


/* radio */
.ul_radio .li_radio{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
}

.ul_radio .li_radio input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.ul_radio .li_radio label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 18px 25px 25px 80px;
  margin: 10px auto;
  height: 50px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.ul_radio .li_radio:hover label{
	color: #FFFFFF;
}

.ul_radio .li_radio .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.ul_radio .li_radio:hover .check {
  border: 5px solid #FFFFFF;
}

.ul_radio .li_radio .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 0px;
	left: 0px;
  margin: auto;
}

input[type=radio]:checked ~ .check {
  border: 5px solid rgb(11, 189, 115);
}

input[type=radio]:checked ~ .check::before{
  background: rgb(11, 189, 115);
}

input[type=radio]:checked ~ label{
  color: rgb(11, 189, 115);
}

.btn_submit {
  width: 50%;
  padding:15px;
  margin:5px;
  border-radius:5px;
  font-size: 20px;
  background-color: rgba(142, 56, 255, 0.26);
  border:1px solid rgba(204, 204, 204, 0);
  font-family:sans-serif;
  color: white;
  align-items: center;
}

.btn_submit:hover {
  background-color:  rgb(107, 45, 9);
  border:1px solid rgba(204, 204, 204, 0);
}

/*Coffee*/
#container{
  margin-top: 5px;
  height: 400px;
  width: 350px;
  position: relative;
  align-content: center;
  /* text-align: center; */
}

#container img{
  opacity: 0;
  height: 400px;
  width: 350px;
  position: absolute;
  align-content: center;
}

#left{
  margin-left: 35%;
}

.text{
  font-size: 30px;
  color: red;
}

.active{
  opacity: 1 !important;
}

.header {
  color: black;
  font-size: 36px;
  text-align: center;
}

#slider *{
  display: inline-block;
}

/* .mySlides {
  position: relative;
  text-align: center;
} */

/* #slideBtnLeft {
  margin-left: 35%;
} */
/* 
#slideText {
  margin: 5%;
  background-color: #fff;
  font-size: 24px;
  height: 80px;
  width: 100px;
  position: relative;
} */
/* 
#imgSlide {
  height: 400px;
  width: 350px;
} */

#menuCoffeeList {
  margin-left: 10%;
  margin-right: 20%;
  background-color: #fff;
  font-size: 24px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.menuCoffee {
  width: 100px;
  height: 100px;
}

.menuRow2 {
  margin-left: 10%;
}

#menuDessertList {
  margin-left: 10%;
  margin-right: 20%;
  background-color: #fff;
  font-size: 24px;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-bottom: 8%;
}

/* footer */
#footer {
  opacity: 0.7;
  background-color: rgb(184, 167, 113);
  padding-top: 1%;
  padding-bottom: 3%;
}

.footerText {
 font-size: 36px;
 color: white;
 position: absolute;
 white-space: nowrap;
 -webkit-animation: rightThenLeft 10s infinite;
}
@-webkit-keyframes rightThenLeft {
 0%   {left: 3%;}
 50%  {left: 91%;}
 100% {left: 3%;}
}